<% @posts.each do |post| %>
<article class="type-system-geometric">
  
<h1><%= post.title %></h1>

<p class="date"><%= post.created_at.strftime("%d-%m-%Y") %></p>
<p><%= post.body %>
</p>

<hr>
<p class="author"><%= post.author %></p>

</article>
<hr>
<% end %>